html::-webkit-scrollbar {
    display: none;
}

p {
    font-family: Helvetica Neue, sans-serif;
}

.large-text {
    font-size: 42px;
}

.parallax-containers::-webkit-scrollbar {
    display: none;
}
.align-center {
    text-align: center;
}