.homepage-h3 {
  padding-top: 40vh;
  font-size: 42px;
}

.homepage-footer {
  bottom: 0;
  margin-top: 150px;
  margin-left: 20px;
}

.homepage-typewriter {
  padding-bottom: 40vh;
}

.homepage-arrow-div {
  padding-bottom: 10vh;
}

#homepage-arrow {
  font-size: 42px;
  transition: ease 0.5s;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.homepage-cards {
  width: 120rem;
}

.homepage-card {
  margin: 0 20px;
}
