#homepage-jumbotron {
}

.homepage-h3 {
  padding-top: 40vh;
  font-size: 42px;
}

.homepage-h1, .homepage-h3, .homepage-h5 {
  text-align: center;
}

.homepage-footer {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}

.typerwriter-test {
  text-align: center;
}