.nav-bar {
  position: sticky;
  top: 0;
}

.nav-button {
  padding: 20px 0 0 20px;
  font-size: 36px;
  cursor: pointer;
  transition: ease 0.3s;
}

.nav-button:hover {
  opacity: 0.5;
}

.homepage-h3 {
  padding-top: 30vh;
}

.homepage-typewriter {
  padding-bottom: 5vh;
}

.homepage-socials i {
  margin: 0 3vh 20vh 3vh;
  transition: ease 0.3s;
}

.homepage-socials a,
.homepage-socials a:visited,
.homepage-socials i:active {
  color: black;
  cursor: pointer;
}

.homepage-socials i:hover {
    opacity: 0.5;
}


#homepage-arrow {
  font-size: 42px;
  transition: ease 0.5s;
  animation: bounce 3s infinite;
  padding-bottom: 30vh;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.homepage-container {
  max-width: 850px;
  padding-bottom: 2rem;
}

.homepage-container ul li {
  margin-bottom: 1px;
}

.homepage-experience {
  display: grid;
  grid-auto-columns: 50% 50%;
}

.homepage-experience-company {
  grid-column: 1;
  margin: 0;
  margin-bottom: 5px;
}

.homepage-experience-date {
  grid-column: 2;
  margin: 0;
  text-align: right;
}

@media screen and (max-width: 800px) {
  .homepage-experience {
    margin: 0;
    display: block;
  }
  .homepage-experience-company {
    display: block;
    margin-bottom: 5px;
  }
  .homepage-experience-date {
    display: inline-block;
    margin-bottom: 5px;
  }
  .card {
    margin: auto auto 15px auto;
  }
}

.homepage-experience-title {
  margin-bottom: 10px;
}

.workaround {
  color: white;
  margin-bottom: 5px;
}

.card {
  width: 300px;
}

.homepage-cards {
  width: 35rem;
}

.homepage-card {
  margin: 0 20px;
}

.homepage-footer {
  bottom: 0;
  margin-top: 150px;
  margin-left: 20px;
}

.home-page-feature  {
  display: flex;
  flex-flow: column;
}

#card-xo, #card-rc {
  transition: ease-in-out 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.1255) !important;
}

#card-xo:hover, #card-rc:hover {
  transform: scale(1.1);
}

.featured {
  position: relative; 
  height: 125px;
  margin-bottom: 0.83em;
  &:hover {
    .featured-background {
      filter: blur(2px);
    }
  }
  & img {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 40%;
    object-fit: cover;
    transition: ease-in 1s;
  }
  & label {
    position: absolute;
    color: white;
    font-family: Roboto, serif;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #333333;
    left: 30%;
    &:hover {
      cursor: pointer;
      .featured-background {
        filter: blur(2px);
      }
    }
  }
}

.featured-hackuci {
  background: linear-gradient(180deg, #99826C 0.8%, #986360 48.2%, #626483 100%);
}

.featured-hacksite {
  background-color: #233b92;
  & img {
    right: 2px;
  }
  & label {
    left: 30px;
  }
}

.featured-xo {
  background-color: #FF6961;
  & label {
    left: 50px;
  }
}

@media screen and (max-width: 425px) {
  .featured {
    & label {
      text-align: center;
      left: 10px;
      padding-top: 20px;
      font-size: 45px;
      line-height: 45px;
    }
  }
}