.game-board {
    display: grid;
    grid-template-columns: auto 2rem 2rem 2rem 2rem 2rem auto;
    grid-template-rows: auto 2rem 2rem 2rem 2rem 2rem auto;
    grid-gap: 1rem;
}

.game-board button {
    height: 100%;
}

.game-board-row-two {
    grid-row: 2
}

.game-board-row-three {
    grid-row: 3;
}

.game-board-row-four {
    grid-row: 4;
}

.game-board-row-five {
    grid-row: 5;
}

.game-board-row-six {
    grid-row: 6;
}

.game-board-col-two {
    grid-column: 2;
}

.game-board-col-three {
    grid-column: 3;
}

.game-board-col-four{
    grid-column: 4;
}

.game-board-col-five {
    grid-column: 5;
}

.game-board-col-six {
    grid-column: 6;
}

